


<p id="notice"><%= notice %></p>

  <%= form_tag(questions_path, {method: "get"}) do %>
  <center><%= text_field_tag(:q) %>
  <%= submit_tag("Search") %></center>
<% end %>




        <section class="center col-md-10">
            <% @questions.reverse_each do |question| %>
                <div class="questionanswer ">
                <section class="table-bordered orangebackground">
                  <section class="questionbodyinsideuser ">  


                  <%= image_tag @user, :class => "indexavatar" %>    
                   


                      <h3><%= question.question_asked %></h3>

                      
                       
                            <td><%= link_to 'Go To User', user_path(question.user_id), :class => "deletequestion" %></td>

                        
                 </section>   
                 <section>
                  <ul>
                <% question.answers.each do |answer| %>
                  <li>
                    <%= answer.answer_given  %>

                  
                  </li>
                  
                <% end %>
                </ul>
              </section>
            </section>


<!-- 
                    <% question.answers.each do |x| %>
                      Answer<%= x.answer_given %>
                    <% end %> -->

                   
                </div>
            <% end %>
        </section>
        <p></p>

              </div>
          </div>
      </section>

