<section class="center ">

         <div class="questionanswer col-md-10">
          <section class="table-bordered orangebackground">
                  <section class="questionbodyinsideuser text-left">
                   	<div class="signupform">


<h1> Login </h1>
<%= form_for :login do |f| %>
	<div>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>

	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<%= f.submit "login" %>
<% end %>



</div>
</section>
</section>
</div>
</section>