<section class="center ">

         <div class="questionanswer col-md-10">
          <section class="table-bordered orangebackground">
                  <section class="questionbodyinsideuser text-left">
                   	<div class="signupform">
<h1>New User</h1>


  <%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>

    <div>
      <h4 class="text-danger"><%= pluralize(@user.errors.count, "error") %> prevented you from signing up!</h4>
      
      <ul class="list-group">
        <% @user.errors.full_messages.each do |msg| %>
          <li class="list-group-item list-group-item-danger"><%= msg.downcase%></li>
        <% end %>
      </ul>

    </div>

  <% end %>




               



  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :First_Name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :job %><br>
    <%= f.text_field :job %>
  </div>
  <div class="field">
    <%= f.label :areas_of_expertise %><br>
    <%= f.text_field :areas_of_expertise %>
  </div>
    <div class="field">
    <%= f.label :hobbies %><br>
    <%= f.text_field :hobbies %>
  </div>


  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
	</div>

   <div>
    <%= f.file_field :image %>
  </div>


  <div class="actions">
    <%= f.submit :class => "btn btn-danger" %>
  </div>

 

<% end %>



<%= link_to 'Back', users_path %>
</div>
</section>
</section>
</div>
</section>