
<body>
<!-- <div class="col-md-12 subheader"></div> -->
    

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <div class="col-md-3 col-sm-5 hero-feature ">
	        <header class="jumbotron hero-spacer img-responsive bg-primary whitetext text-center">
	        <%= image_tag @user.image, :class => "avatar" %>
	        	<%#= image_tag("ww.jpg", :alt => "profile", :class => "img-responsive") %>

	        	<section class="aboutsection text-left">
	        		<h4 class="text-center">About <%= @user.name %></h4>
	        		<p class="aboutsection small">Hobbies: <%= @user.hobbies %></p>

	        		<p class="aboutsection small"><strong>Questions Answered:</strong> 10</p>
	        		<p class="aboutsection small"><strong>Questions Asked:</strong> 87</p>
	        	</section>


	        </header>
	        
        </div>
	       
	        <div class="col-lg-6"> 


	        	<h1><%= @user.name %> <%= @user.last_name %></h1>
	        	<h4><%= @user.job %></h4>
	            <p><strong>Area Of Expertise:</strong> <%= @user.areas_of_expertise %></p>
	            
	               <% if logged_in? && current_user.id == @user.id %>
					<%= link_to 'Edit Profile', edit_user_path(@user) %>

				<% else %>
				<% end %>
				<p id="notice"><%= notice %></p>



	            
	            <!-- <p><a class="btn btn-primary btn-large">Ask Me A Question!</a>
	            </p> -->
	        </div>

        

        <!-- Title -->








        <section  class="col-lg-8 answers2 ">
	        <div class="row ">
	            <div class="col-lg-12">

	            <% if logged_in? %>

	             <section>
	             <div class="askaquestion text-right ">
	             	<div class="questionform">
    				<!-- <h2 class="text-center">Ask A Question!</h2> -->
    					<div class="questionimageform">
    						<%= image_tag User.find(current_user.id).image, :class => "current_user_image effect1" %> <%= form_for [@user, @question] do |f| %>     				
	        				<div class="questionimagebutton">
	            				<%= f.text_area :question_asked, placeholder: "Ask Me A Question", :class => "form-control askquestioninputform"%>
	            				<%= f.hidden_field :asked_by, :value => current_user.id %>
	            				<div class="buttoninputform">
	            				<%= f.submit "Ask!", :class => "btn btn-primary " %>
	            				</div>
	            			</div>
				   		 	<% end %>
				   		</div>
				    </div>
				</div>


				</section>



				
					<section>
				    <% @user.questions.reverse_each do |question| %>
				        <div class="askaquestion">
				        	<div class="answersinsideuser"  >
				        	<section class="table-bordered orangebackground">
				       			<section class="questionbodyinsideuser ">			      
				            			<h3><%= image_tag User.find(question.asked_by).image, :class => "avatarmini" %> <%= question.question_asked %></h3>				            	
				            	         <% if edit_access(question) %>
			            					<td><%= link_to 'Expand', question, :class => "deletequestion" %></td>
        							        <td><%= link_to 'Delete', question, :class => "deletequestion", method: :delete, data: { confirm: 'Are you sure?' } %></td> 
            					            
				            			<% else %>
				            					<td><%= link_to 'Expand', question, :class => "deletequestion" %></td>        							       
				            			<% end %>
					            	
						     	</section> 



						     <section>
						    	<ul>
								<% question.answers.each do |answer| %>
									<li class="answerli active text-muted">
										<%#= image_tag User.find(answer.answered_by).image, :class => "avatarmini" %> 
										<%= image_tag User.find(answer.answered_by).image, :class => "avatarmini" %> <%= answer.answer_given  %><br>										
										<% if logged_in? && current_user.id == answer.answered_by %>
										<%= link_to 'Delete', answer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "deletequestion" %>

										<% end %>
									</li>
									
								<% end %>
								</ul>
							</section>
						</section>


<!-- 
				            <% question.answers.each do |x| %>
				            	Answer<%= x.answer_given %>
				            <% end %> -->

				            <section class="answerfield">
								<%= form_for :answer do |f| %>

									<div>
										
										<%= f.text_area :answer_given, :class => "form-control", :placeholder => "Answer Here" %>
										<%= f.hidden_field :question_id, :value => question.id %>
										<%= f.hidden_field :user_id, :value => @user.id %>
										<%= f.hidden_field :answered_by, :value => current_user.id %>

									</div>

									<%= f.submit "Answer Question", :class => "btn btn-danger pull-right" %>
								<% end %>
							</section>
				        </div>
				        </div>
				    <% end %>
				</section>
				<p></p>

	            </div>
	        </div>
	    </section>

	   





	    <!-- if you are logged off below -->

	                       
        <% else %>

        		<section>
    				<center>
    					<h2>Questions</h2>
    					 <h5><%= link_to '(Log In To Ask Questions)', login_path, :class => "muted" %></h3>
    				</center>
    					
        			<div>
            			
        			</div>
				     
				</section>


				<section>
				    <% @user.questions.reverse_each do |question| %>
				        <div class="questionanswer">
				       		<section>			      
				            	<h3><%= question.question_asked %>
				            
					            <% @question.answers.each do |answer| %>
					            	<%= answer.answer_given %>
					            <% end %>
					            	
						     </section> 	

						    <section>
								<% question.answers.each do |answer| %>
									<ul>
										<td><%= answer.answer_given %></td>
										
									</ul>
								<% end %>
							</section>

<!-- 
				            <% question.answers.each do |x| %>
				            	Answer<%= x.answer_given %>
				            <% end %> -->

				        
				        </div>
				    <% end %>
				</section>
				<p></p>

	            </div>
	        </div>
	    </section>

                        	
                <% end %>


       
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Askme 2015</p>
                </div>
            </div>
        </footer>

    </div>



</body>

	           

