
<!-- Navigation -->
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container navbar-yeah">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="topheader">
	            <div class="navbar-header">
	               
	                <%= link_to 'Home', questions_path, :class => "navbar-brand"%>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
	                    <li>
	                    <% if logged_in? %>
	                        
	                    <% else %>
	                       
	                    	

	                    <% end %>
	                    </li>
	                   

	                    <% if logged_in? %>
	                    
	                        <li>
                            	<%= link_to "#{current_user.name}", current_user, :class => "nav navbar-nav" %>
                            </li>
                            <li>
	                    		<%= link_to 'Search Users', users_path, :class => "nav navbar-nav logout" %>
	                    	</li>
                            <li>
                        		<%= link_to 'Log Out', logout_path, :class => "nav navbar-nav logout", method: :delete %>
                      		</li>
                        	<% else %>
                        	<li>
                          	 <%= link_to 'Log In', login_path, :class => "nav navbar-nav logout" %>
                          	</li>
                          	<li>
                          		 <%= link_to 'Search Users', users_path, :class => "nav navbar-nav logout" %>
	                  		</li>
	                  		<li>
	                    	<%= link_to 'Signup', signup_path, :class => "nav navbar-nav logout" %>
                          	</li>
                        <% end %>
                        	
	                    
	                </ul>
	            </div>
	        </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>