<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Askme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

 <% if flash[:welcome] %>
        <h4 class="bg-success flash col-md-4 center text-center"><%= flash[:welcome] %></h4>
    <% end %>

    <% if flash[:error] %>
        <h4 class="bg-danger flash col-md-4 center text-center"><%= flash[:error] %></h4>
 <% end %>


<%= yield %>

</body>
</html>
